# Programming Assignment_23

Question 1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
```
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True
```

In [1]:
def is_symmetrical(number):
    return str(number) == str(number)[::-1]


is_symmetrical(7227)

True

In [2]:
is_symmetrical(12567)

False

In [3]:
is_symmetrical(4444444)

True

In [4]:
is_symmetrical(9939)

False

In [5]:
is_symmetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
```
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20
```

In [6]:
def multiply_nums(a_string):
    l = a_string.split(", ")
    total = 1
    for val in l:
        total *= int(val)
    return total

multiply_nums("2, 3")

6

In [7]:
multiply_nums("1, 2, 3, 4")

24

In [8]:
multiply_nums("54, 75, 453, 0")

0

In [9]:
multiply_nums("10, -2")

-20

Question 3

Create a function that squares every digit of a number.
```
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.
```

In [17]:
def square_digits(number):
    l = [str(int(num)**2) for num in str(number)]
    return int("".join(l))


square_digits(3212)

9414

Question 4

Create a function that sorts a list and removes all duplicate items from it.
```
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]
```

In [19]:
def setify(a_list):
    return sorted(list(set(a_list)))

setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5

Create a function that returns the mean of all digits.
```
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.
```

In [25]:
def mean(number):
    l = list(map(int,str(number)))
    n = len(l)
    s = sum(l)
    return s//n

mean(512)

2